<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>DSA Based Search Engine</title>
  <link rel="stylesheet" href="./styles.css" />
</head>
<body>
  <div class="container">
    <div class="searchbar">
      <h1 class="logo">DSA Based Search</h1>
      <form id="search-form">
        <input type="text" id="search-input" placeholder="Search..." />
        <button type="submit">Search</button>
      </form>
    </div>
          
    <div id="results">
        <div id="loader" class="loader-container hidden">
          <div class="spinner"></div>
        </div>
    </div>
  </div>
  <script src="./script.js"></script>
</body>
</html>

